.card {
  background-color: var(--cardBackground);
  border-radius: 10px;
  margin: 16px;
  padding: 8px;
  max-width: 600px;
  padding: 16px;
  display: flex;
  filter: var(--dropShadowFilter);
}

.card-image {
  min-width: 200px;
  min-height: 200px;
  border-radius: 10px;
}

.card-text {
  display: flex;
  flex-direction: column;
  padding: 12px;
}

@media only screen and (max-width: 600px) {
  .card {
    flex-direction: column;
  }

}

@media only screen and (max-width: 400px) {
  .card {
    margin: 16px 0;
  }

  .card-text {
    padding: 4px;
  }
}
