/* some base css
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.75;
  -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: "Computer Modern";
  src: local('Computer Modern'), url(../fonts/cmunrm.ttf) format('truetype');
}

@font-face {
  font-family: "Computer Modern Sans Serif";
  src: local('Computer Modern Sans Serif'), url(../fonts/cmunss.ttf) format('truetype');
}

body {
  --bg: white;
  --textNormal: #222;
  --linkVisited: #7f3bde;
  --linkUnvisited: #107ba2;
  --cardBackground: white;
  --dropShadowFilter: drop-shadow(1px 1px 2px #b4c6bf);
  --darkCodeBackground:  rgb(17, 23, 26);
  --inlineCodeBackground: rgb(228, 228, 228);
  --tableHeader: #b5ddec;
  --tableRowEven: #ebf7fc;
  --tableRowOdd: #daedf4;
  --headerFont: "Computer Modern Sans Serif", sans-serif;

  font-family: "Computer Modern", serif;
  background-color: var(--bg);
  color: var(--textNormal);
}

body.dark {
  -webkit-font-smoothing: antialiased;
  --bg: #222;
  --textNormal: #ccc;
  --linkVisited: #b682fb;
  --linkUnvisited: #5dbcde;
  --cardBackground: #333;
  --dropShadowFilter: none;
  --inlineCodeBackground: var(--darkCodeBackground);
  --tableHeader: #0d2027;
  --tableRowOdd: #1b2e38;
  --tableRowEven: #10272f;
  
}

h1,
h2,
h3,
th,
nav > * {
  font-family: var(--headerFont);
}


h1,
h2,
h3
 {
   margin-block-start: 1em;
   margin-block-end: 1em;
 }
  

.landing-page-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.text {
  max-width: 600px;
  width: 50vw;
}

.photo {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  margin: 0px;
}

a:link {
  color: var(--linkUnvisited);
}

a:visited {
  color: var(--linkVisited);
}

a:hover,
a:focus {
  text-decoration: underline;
}

@media only screen and (max-width: 800px) {
  .landing-page-container {
    flex-direction: column;
  }

  .text {
    width: 100%;
  }
}

p,
ul,
ol,
li {
  max-width: 800px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  font-size: 1.3rem;
}

/* override default size for headings as well, */
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2.0rem;
}
h3 {
  font-size: 1.75rem;
}


deckgo-highlight-code {
  /* hides the toolbar which makes the code block look like a mac terminal window */
  --deckgo-highlight-code-carbon-toolbar-display: none;
  /* makes the background of the code block a little different from the dark mode background color */
  --deckgo-highlight-code-carbon-background: var(--darkCodeBackground);
  --deckgo-highlight-code-font-size: 1rem;
}

code {
  background-color: var(--inlineCodeBackground);
  padding: .2rem;
}

.table-scroll-wrapper {
  overflow-x: scroll;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

.table-scroll-wrapper::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

table {
  font-size: 1.2rem;
  border-collapse: collapse;
  box-shadow: var(--dropShadowFilter);
}


tr {
  padding: 1rem;
}

td, th {
  padding: 1rem;
}

th {
  background-color: var(--tableHeader);
  text-align: left;
} 

td:nth-child(1) {
  font-weight: 600;
  font-family: var(--headerFont);
  border-left: 16px solid var(--tableHeader);
  border-right: 8px solid var(--tableHeader);
}

tr:nth-child(even){
  background-color: var(--tableRowEven);
}

tr:nth-child(odd){
  background-color: var(--tableRowOdd);
}