* {
    font-family: "Georgia"
}

.landing-page-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.text {
    width: 50vw;
    padding: 16px;
}

a {
    text-decoration: none;
    margin: 0px;
}